/* CSS Document */
.entry-content p{
	 color: #111;
    font-family: "Century Schoolbook",Century,Garamond,serif;
    font-size: 1.6em;
    line-height: 1.6em;
}
.entry-content1{
	 color: #111;
    font-family: "Century Schoolbook",Century,Garamond,serif;
    font-size: 1.6em;
    line-height: 1.6em;
}
.entry-content1 a{
	color: #000;
}
.entry-content > p:first-child:first-line {
    font-variant: small-caps;
    letter-spacing: 0.05em;
    word-spacing: 4px;
}
.entry-content > p:first-child:first-letter {
    color: #000;
    float: left;
    font-size: 3.7em;
    line-height: 43px;
    margin: 9px 5px 0 0;
}

